<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label>Magasin</label
      >
      <select class="form-control" (change)="isSelected($event)">

        <option *ngFor="let c of magasins" > {{c.reference}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Material</label
      > <select class="form-control" (change)="isSelecte($event)">

      <option *ngFor="let c of materials" [value]="c.reference"> {{c.reference}}</option>
    </select>
    </div>
    <div class="form-group">
      <label>qte</label>
      <input type="number" class="form-control" [(ngModel)]="stock.qte" />
    </div>
  </div>
  <div class="card-footer">
    <button class="btn-block btn btn-primary" (click)="evaluate()">Ajouter</button>
  </div>
</div>
