<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <mat-tab-group>
        <mat-tab label="info">
          <app-intervention-info
            (click)="this.changeVue('bla')"
          ></app-intervention-info>
        </mat-tab>
        <mat-tab label="Collab" >
          <app-collaborateur-create
            (click)="this.changeVue('Collab')"
          ></app-collaborateur-create>
        </mat-tab>
        <mat-tab label="Stock">
          <app-stock-create
            (click)="this.changeVue('Stock')"
          ></app-stock-create>
        </mat-tab>
        <mat-tab label="Consigne">
          <app-intervention-consiel></app-intervention-consiel>
        </mat-tab>
      </mat-tab-group>
      <button class="btn btn-primary btn-block" (click)="save()">Save</button>
    </div>
    <div [ngSwitch]="modeVue" class="col-lg-6">
      <app-collaborateur-list *ngSwitchCase="'Collab'"></app-collaborateur-list>
      <app-stock-list *ngSwitchCase="'Stock'"></app-stock-list>
      <div *ngSwitchDefault>
        <app-collaborateur-list></app-collaborateur-list>
      </div>
    </div>
  </div>
</div>
