<div style="height: 100vh">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>GMAO</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a routerLink="home" routerLinkActive="active" mat-button>Accueil</a>
        <a routerLink="admin" routerLinkActive="active" mat-button
          >Administrateur</a
        >
        <a routerLink="collaborateur" routerLinkActive="active" mat-button
          >Collaborateur</a
        >
        <a routerLink="equipes" routerLinkActive="active" mat-button>Equipes</a>

        <a routerLink="chef-equipe" routerLinkActive="active" mat-button
          >Chef-Equipe</a
        >
        <a routerLink="stock" routerLinkActive="active" mat-button
        >Stock</a
        >
        <a routerLink="intervention" routerLinkActive="active" mat-button
        >Intervention</a
        >
        <a routerLink="operationStock" mat-button>OperationStock</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a
          routerLink="/home"
          routerLinkActive="active"
          mat-list-item
          (click)="sidenav.toggle()"
          >Accueil</a
        >
        <a
          routerLink="admin"
          routerLinkActive="active"
          mat-list-item
          (click)="sidenav.toggle()"
          >Administrateur</a
        >
        <a
          routerLink="collaborateur"
          routerLinkActive="active"
          mat-list-item
          (click)="sidenav.toggle()"
          >Collaborateur</a
        >
        <a
          routerLink="equipes"
          routerLinkActive="active"
          mat-list-item
          (click)="sidenav.toggle()"
          >Equipes</a
        >
        <a
          routerLink="chef-equipe"
          routerLinkActive="active"
          mat-list-item
          (click)="sidenav.toggle()"
          >Chef-Equipe</a
        >
        <a
          routerLink="intervention"
          routerLinkActive="active"
          mat-list-item
          (click)="sidenav.toggle()"
        >intervention</a
        >
        <a routerLink="stock" routerLinkActive="active"  mat-list-item
           (click)="sidenav.toggle()"
        >Stock</a
        >
        <a routerLink="operationStock"  mat-list-item
           (click)="sidenav.toggle()">OperationStock</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill
      ><router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
