<mat-card sytle="backgr">Créer des Equipes</mat-card>
<!-- <mat-vertical-stepper #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. 1 Main St, New York, NY" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper> -->
<mat-tab-group>
  <mat-tab label="Equipe"> 
    
      
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Refernce</mat-label>
          <input matInput placeholder >
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Libelle</mat-label>
          <input matInput placeholder>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>chefEquipe</mat-label>
          <input matInput placeholder>
        </mat-form-field>
      </form>
    
  
  </mat-tab>
  <mat-tab label="Collaborateur"> <mat-card>
      
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input matInput placeholder >
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Téléphone</mat-label>
        <input matInput placeholder>
      </mat-form-field>
    </form>
  
</mat-card></mat-tab>
  <mat-tab  label="save">  
    <label class="but">if you done pls click button save</label>
    <button class="but" mat-raised-button color="primary">save</button>  </mat-tab>
</mat-tab-group>