<mat-card style="background-color:#3F51B5; color: white;">Créer des Equipes</mat-card>

<mat-tab-group>
  <mat-tab label="Equipe"> 
    
      
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput placeholder [(ngModel)]="equipe.id" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Refernce</mat-label>
          <input matInput placeholder [(ngModel)]="equipe.ref" >
        </mat-form-field>
        
      
        <mat-form-field class="example-full-width">
          <mat-label>Libelle</mat-label>
          <input matInput placeholder [(ngModel)]="equipe.libelle">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>chef Equipe</mat-label>
          <input matInput placeholder [(ngModel)]="equipe.chefEquipe">
        </mat-form-field>
      </form>
    
  
  </mat-tab>
  <mat-tab label="Collaborateur"> <mat-card>
      
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input matInput placeholder >
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Téléphone</mat-label>
        <input matInput placeholder>
      </mat-form-field>
      <button class="but" mat-raised-button color="primary" (click)="addMembres()">+</button>
    </form>
  
</mat-card></mat-tab>
  <mat-tab  label="save">  
    <mat-card style="width:100%">
    
      
            <table  style="width:50%">
        <tr>
          <th style="background-color:#3F51B5; color: white;">id</th>
          <th style="background-color:#3F51B5; color: white;">Nom</th>
          <th style="background-color:#3F51B5; color: white">Prénom</th>
          <th style="background-color:#3F51B5; color: white">Télephone</th>
        </tr>
        <tbody>
          <tr *ngFor="let c of equipe.membres">
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.phone}}</td>
           
          </tr>
          </tbody>
      </table>
    
    </mat-card>
    
    <button class="but" mat-raised-button color="primary" (click)="save()">save</button>  </mat-tab>
</mat-tab-group>