<div class="card">
  <div class="card-header">Se Connecter</div>
  <div class="card-body">
    <form action="" class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input class="form-control" name="username" type="text" />
      <label for="username">Mot de passe</label>
      <input class="form-control" name="username" type="password" />
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary btn-block">Se Connecter</button>
  </div>
</div>
