#search1{
  margin-right: 10%;
  margin-left: 30%;
  width: 15%;
  margin-bottom: 20px;
}
#Search2{
  width: 15%;
  margin-left: 30px;
}

#Search3{
  margin-right: 5%;
  margin-bottom: 10px;
  margin-left: 20%;
}
#btnSearch{
  width: 6%;
  height: 2%;
}
#title{
  margin-top: 10px;

  background-color: lavender;

  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  color: #3f51b5;

}
.card-header {
  text-align: center;
  font-size: 1.5rem;

}
