<p>chef-equipe works!</p>
<div class="card">
  <div class="card-header">Ajout v stock</div>
  <div class="card-body">
    <div class="form-group">
      <label >magasin</label>
      <span> <i  class="fa fa-info ml-1 btn btn-secondary"></i> </span><input type="text" >
    </div>
    <div class="form-group">
      <label >produit</label>
      <span > <i class="fa fa-info ml-1 btn btn-secondary"></i>   </span><input type="text" >

    </div>
    <div class="form-group">
      <label >qteDeffectueuse</label>
      <input type="number" class="form-control" >
    </div>
    <div class="form-group">
      <label >qte</label>
      <input type="number" class="form-control" >
    </div>


  </div>
  <div class="card-footer">
    <button class="btn-block btn " >Valider</button>
  </div>
</div>
