<main class="container">
  <div class="row">
    <section class="col-md-8">
      <div class="card">
        <div class="row">
          <div class="col-lg-6">
            <img
              src="../../assets/03.jpg"
              class="card-img-top"
              alt="Networking"
            />
          </div>
          <div class="col-lg-6">
            <div class="card-body">
              <h3 class="card-title">Articale #1</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
                molestiae numquam unde sed corrupti aspernatur soluta illum? Sit
                quis nam aliquam consectetur quia placeat, in at debitis,
                assumenda eum incidunt dolor laborum cupiditate suscipit eius
                optio modi fugit beatae sed tenetur hic! Sed enim necessitatibus
                omnis laudantium doloremque, a itaque nesciunt laboriosam
                dolorum, natus nam.
              </p>
              <button class="btn btn-primary">Voir Plus</button>
            </div>
          </div>
        </div>
      </div>

      <!--  -->

      <div class="card">
        <div class="row">
          <div class="col-lg-6">
            <img
              src="../../assets/02.jpg"
              class="card-img-top"
              alt="Networking"
            />
          </div>
          <div class="col-lg-6">
            <div class="card-body">
              <h3 class="card-title">Articale #2</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
                molestiae numquam unde sed corrupti aspernatur soluta illum? Sit
                quis nam aliquam consectetur quia placeat, in at debitis,
                assumenda eum incidunt dolor laborum cupiditate suscipit eius
                optio modi fugit beatae sed tenetur hic! Sed enim necessitatibus
                omnis laudantium doloremque, a itaque nesciunt laboriosam
                dolorum, natus nam.
              </p>
              <button class="btn btn-primary">Voir Plus</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
